In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Souillac,MU,2022-07-22 16:22:19,-20.5167,57.5167,70.27,79,30,15.68
1,1,Ushuaia,AR,2022-07-22 16:22:19,-54.8000,-68.3000,35.44,81,97,16.64
2,2,Scarborough,GB,2022-07-22 16:22:14,54.2797,-0.4044,61.93,73,100,3.00
3,3,Talnakh,RU,2022-07-22 16:22:19,69.4865,88.3972,64.76,60,72,5.48
4,4,Lebu,CL,2022-07-22 16:22:20,-37.6167,-73.6500,54.10,97,100,10.71

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.)

# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(
    locations, weights=[max(temp, 0) for temp in max_temp], 
    dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.)
heat_layer = gmaps.heatmap_layer(
    locations, weights=humidity, dissipating=False, 
    max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.)
heat_layer = gmaps.heatmap_layer(
    locations, weights=clouds, dissipating=False, 
    max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.)
heat_layer = gmaps.heatmap_layer(
    locations, weights=wind, dissipating=False, 
    max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 65

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Ushuaia,AR,2022-07-22 16:22:19,-54.8000,-68.3000,35.44,81,97,16.64
2,2,Scarborough,GB,2022-07-22 16:22:14,54.2797,-0.4044,61.93,73,100,3.00
3,3,Talnakh,RU,2022-07-22 16:22:19,69.4865,88.3972,64.76,60,72,5.48
4,4,Lebu,CL,2022-07-22 16:22:20,-37.6167,-73.6500,54.10,97,100,10.71
5,5,Anzhero-Sudzhensk,RU,2022-07-22 16:22:20,56.0810,86.0285,56.23,98,83,6.26
6,6,Punta Arenas,CL,2022-07-22 16:22:21,-53.1500,-70.9167,37.11,70,19,20.89
9,9,Mnogovershinnyy,RU,2022-07-22 16:22:22,53.9353,139.9242,49.57,76,85,4.12
14,14,Busselton,AU,2022-07-22 16:21:54,-33.6500,115.3333,59.14,80,32,17.02
15,15,Honningsvag,NO,2022-07-22 16:22:24,70.9821,25.9704,53.17,83,74,23.40
18,18,Yar-Sale,RU,2022-07-22 16:22:25,66.8333,70.8333,45.68,95,100,13.11

In [28]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [29]:
preferred_cities_df.notnull().sum()

City_ID       190
City          190
Country       188
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [32]:
preferred_cities_df.count()

City_ID       190
City          190
Country       188
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1             Ushuaia      AR     35.44 -54.8000  -68.3000
2         Scarborough      GB     61.93  54.2797   -0.4044
3             Talnakh      RU     64.76  69.4865   88.3972
4                Lebu      CL     54.10 -37.6167  -73.6500
5   Anzhero-Sudzhensk      RU     56.23  56.0810   86.0285
6        Punta Arenas      CL     37.11 -53.1500  -70.9167
9     Mnogovershinnyy      RU     49.57  53.9353  139.9242
14          Busselton      AU     59.14 -33.6500  115.3333
15        Honningsvag      NO     53.17  70.9821   25.9704
18           Yar-Sale      RU     45.68  66.8333   70.8333

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Ushuaia,AR,35.44,-54.8000,-68.3000,Albatross Hotel
2,Scarborough,GB,61.93,54.2797,-0.4044,The Grand Hotel Scarborough
3,Talnakh,RU,64.76,69.4865,88.3972,Talnakh Hotel
4,Lebu,CL,54.10,-37.6167,-73.6500,Hostal Las Lilas
5,Anzhero-Sudzhensk,RU,56.23,56.0810,86.0285,"Hotel ""Anzherskaya"""
...,...,...,...,...,...,...
551,Kurilsk,RU,54.73,45.2333,147.8833,Hotel Ostrov
555,Novaya Lyalya,RU,59.32,59.0550,60.5990,Taezhnaya Ros'
556,Sinop,TR,61.47,41.7711,34.8709,
561,Lensk,RU,62.78,60.7253,114.9278,ТинОрС
571,Khvorostyanka,RU,63.25,52.6096,48.9597,Gostinitsa Nedorogo

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))